# This CI/CD configuration provides a standard pipeline for
# * building services (docker-compose),
# * running code quality analysis,
# * creating a review app for tag "review-*",
# * and continuous deployment to production.

default:
  before_script:
    - mkdir -p ${CI_PROJECT_DIR}/build
  tags:
    - udocker02

variables:
  #CI_DEBUG_TRACE: "true"

  # Checking an already installed service may be disabled by setting environment variable
  # 'CHECK_NEW_INSTANCE: "false"' (enabled by default).
  CHECK_NEW_INSTANCE: "true"

  # Compose configuration files (docker-compose -f) and
  # project name (docker-compose -p) for containers, volumes, and network prefix
  DEPLOY_CONFIG: "production.yml"
  DEPLOY_NAME: "${CI_PROJECT_NAME}-production"
  DEPLOY_NETWORK: "${CI_PROJECT_NAME}-production"
  DEPLOY_SERVER: "http://127.0.0.1"
  DEPLOY_PORT: "8090"

  REVIEW_CONFIG: "review.yml"
  REVIEW_PORT: "8091"

  # docker-compose services (1C and DB)
  IB_SERVER: "srv"
  IB_NAME: "transmitter"
  DB_SERVER: "db"
  DB_NAME: "transmitter"

  BACKUP_PATH: "/var/backups" # backup before update

  # 1c
  EDT_PROJECT_DIR: "Transmitter" # EDT src
  EDT_TEST_DIR: "Transmitter.Tests"

  # init ib (users, roles)
  INIT_DB_PATH: "https://github.com/astrizhachuk/Init-db-1c/releases/download"
  INIT_DB_VERSION: "2.0.0"

  # allure
  ALLURE_LAUNCH_NAME: "${CI_PROJECT_NAME} - ${CI_COMMIT_SHORT_SHA}"
  ALLURE_LAUNCH_TAGS: "${CI_COMMIT_REF_NAME}, ${CI_COMMIT_TAG}"
  ALLURE_RESULTS: "${CI_PROJECT_DIR}/build/unit/allure"
  ALLURE_TESTPLAN_PATH: ./testplan.json

workflow:
  rules:
    - if: $CI_COMMIT_TAG =~ /^v\d+./ || $CI_COMMIT_TAG =~ /^review-/
    - if: $CI_COMMIT_BRANCH == "master"
    - if: $CI_MERGE_REQUEST_IID

stages:
  - build
  - test
  - srv
  - db
  - dump
  - update
  - init
  - ws
  - pages

include:
  - remote: 'https://raw.githubusercontent.com/astrizhachuk/onec-gitlab-ci/master/.sonarqube-ci.yml'

.start_services: &start_services
  - docker network create $DEPLOY_NETWORK || true
  - docker-compose -f $DEPLOY_CONFIG -p $DEPLOY_NAME up --no-start --force-recreate
  - docker cp $DEPLOY_NETHASP ${DEPLOY_NAME}_${IB_SERVER}_1:/opt/1cv8/current/conf/nethasp.ini
  - docker cp $DEPLOY_ONEC_CONFIG ${DEPLOY_NAME}_${IB_SERVER}_1:/opt/1cv8/current/conf/conf.cfg
  - docker-compose -f $DEPLOY_CONFIG -p $DEPLOY_NAME start

.get_deploy_env: &get_deploy_env
  - TAG_REGEX="^review-"
  - if [[ ${CI_COMMIT_TAG} =~ $TAG_REGEX ]];
    then
      DEPLOY_CONFIG=$REVIEW_CONFIG
      DEPLOY_NETWORK=${CI_PROJECT_NAME}-${CI_COMMIT_REF_SLUG};
      DEPLOY_NAME=${CI_PROJECT_NAME}-${CI_COMMIT_REF_SLUG};
      DEPLOY_PORT=$REVIEW_PORT;
    fi

.ibcmd_create_ib: &ibcmd_create_ib
  - docker-compose -f $DEPLOY_CONFIG -p $DEPLOY_NAME
    run
      --rm
      --entrypoint=""
    $IB_SERVER /opt/1cv8/current/ibcmd infobase create
      --db-server=$DB_SERVER
      --dbms=postgresql
      --db-name=$DB_NAME
      --db-user=postgres
      --create-database

.ibcmd_dump_ib: &ibcmd_dump_ib
  - docker-compose -f $DEPLOY_CONFIG -p $DEPLOY_NAME
    run
      --rm
      --entrypoint=""
      -v $BACKUP_PATH:/backup
    $IB_SERVER /opt/1cv8/current/ibcmd infobase dump
      --db-server=$DB_SERVER
      --dbms=postgresql
      --db-name=$DB_NAME
      --db-user=postgres
      /backup/$DEPLOY_NAME-$CI_COMMIT_TAG-"`date +"%Y-%m-%d-%H-%M-%S"`".dt

.rac_register_ib: &rac_register_ib
  - docker-compose -f $DEPLOY_CONFIG -p $DEPLOY_NAME
    exec -T
    $IB_SERVER bash -c "/opt/1cv8/current/ras cluster --daemon &&
      sleep 10s &&
      /opt/1cv8/current/rac cluster list $IB_SERVER &&
      /opt/1cv8/current/rac infobase
        --cluster=\$(/opt/1cv8/current/rac cluster list $IB_SERVER | grep cluster | awk '{print \$3}')
      create
        --name=$IB_NAME
        --dbms=PostgreSQL
        --db-server=$DB_SERVER
        --db-name=$DB_NAME
        --locale=ru
        --db-user=postgres
        --license-distribution=allow
      $IB_SERVER"

.update_ib: &update_ib
  - docker run
    --rm
    --user $(id -u):$(id -g)
    --network=$DEPLOY_NETWORK
    -v ${CI_PROJECT_DIR}:/w
    -v $DEPLOY_NETHASP:/opt/1cv8/current/conf/nethasp.ini
    -v $DEPLOY_ONEC_CONFIG:/opt/1cv8/current/conf/conf.cfg
    ${CI_REGISTRY}/devops/onec-docker/client-vnc:$ONEC_VERSION
    bash -c "/opt/1cv8/current/1cv8 DESIGNER
      /IBConnectionString \"Srvr=$IB_SERVER;Ref=$IB_NAME;\"
      $PARAMS_ADMIN_USER
      /LoadConfigFromFiles /w/build/xml -Format Hierarchical /UpdateDBCfg
      /DisableStartupMessages /DisableStartupDialogs
      /UseHwLicenses+
      /out /w/build/load.log"

.init_ib: &init_ib
  - docker run
    --rm
    --network=$DEPLOY_NETWORK
    -v ${CI_PROJECT_DIR}:/w
    -v $DEPLOY_NETHASP:/opt/1cv8/current/conf/nethasp.ini
    -v $DEPLOY_ONEC_CONFIG:/opt/1cv8/current/conf/conf.cfg
    -e WS_USER=$WS_USER
    -e WS_PASSWORD=$WS_PASSWORD
    ${CI_REGISTRY}/devops/onec-docker/client-vnc:$ONEC_VERSION
    bash -c "/opt/1cv8/current/1cv8 ENTERPRISE
      /IBConnectionString \"Srvr=$IB_SERVER;Ref=$IB_NAME;\"
      $PARAMS_ADMIN_USER
      /Execute /w/tools/init-db.epf /C\"file=/w/tools/users.json\""

docker login:
  stage: .pre
  script:
    - docker login -u ${CI_REGISTRY_USER} -p ${CI_JOB_TOKEN} ${CI_REGISTRY}
  rules:
    - if: $CI_COMMIT_TAG =~ /^v\d+./ || $CI_COMMIT_TAG =~ /^review-/

build-mkdocs-image:
  stage: build
  tags:
    - docker
  image:
    name: gcr.io/kaniko-project/executor:v1.9.0-debug
    entrypoint: [""]
  script:
    - echo "{\"auths\":{\"${CI_REGISTRY}\":{\"username\":\"${CI_REGISTRY_USER}\",\"password\":\"${CI_JOB_TOKEN}\"}}}" > /kaniko/.docker/config.json
    - /kaniko/executor
      --context "${CI_PROJECT_DIR}"
      --dockerfile "${CI_PROJECT_DIR}/docker/mkdocs.Dockerfile"
      --destination "${CI_REGISTRY_IMAGE}/mkdocs:latest"
      --cache=true
      --cache-repo="${CI_REGISTRY_IMAGE}/cache"
  rules:
    - if: $CI_COMMIT_BRANCH == "master"
      changes:
        - docker/mkdocs.Dockerfile
        - mkdocs.yml

export xml:
  stage: build
  script:
    - docker run
      --rm
      --privileged
      --user $(id -u):$(id -g)
      -v ${CI_PROJECT_DIR}:/w
      ${CI_REGISTRY}/devops/onec-docker/edt:8.3.27.1786
      bash -c "1cedtcli
        -data /w/build/tmp
        -command export
        --project /w/${EDT_PROJECT_DIR}
        --configuration-files /w/build/xml"
  artifacts:
    name: "xml-${CI_COMMIT_SHORT_SHA}"
    paths:
      - build/xml
    expire_in: 7 hours
  rules:
    - if: $CI_COMMIT_TAG =~ /^v\d+./ || $CI_COMMIT_TAG =~ /^review-/

download tools:
  stage: build
  script:
    - docker run
      --rm
      -u $USER
      -v ${CI_PROJECT_DIR}:/w
      curlimages/curl:latest
      -Lv -o /w/tools/init-db.epf $INIT_DB_PATH/$INIT_DB_VERSION/InitDB.epf
  cache:
    key: "init-${CI_COMMIT_SHORT_SHA}"
    paths:
      - tools/init-db.epf
    policy: push
  rules:
    - if: $CI_COMMIT_TAG =~ /^v\d+./ || $CI_COMMIT_TAG =~ /^review-/

srv up:
  stage: srv
  environment:
    name: production
    url: $DEPLOY_SERVER:$DEPLOY_PORT/api/hs/version
    on_stop: stop_production
  script:
    - if [[ $CHECK_NEW_INSTANCE == "true" ]]; then
        if [[ ! -n $(docker volume ls -f name=$DEPLOY_NAME --format "{{.Name}}") ]]; then
          FLAG_NEW_INSTANCE="true";
          PARAMS_ADMIN_USER="";
        else
          FLAG_NEW_INSTANCE="false";
          PARAMS_ADMIN_USER="/NАдминистратор";
        fi
      else
        FLAG_NEW_INSTANCE="false";
        PARAMS_ADMIN_USER="/NАдминистратор";
      fi
    - echo "FLAG_NEW_INSTANCE=$FLAG_NEW_INSTANCE" >> deploy.env
    - echo "PARAMS_ADMIN_USER=$PARAMS_ADMIN_USER" >> deploy.env
    - *start_services
  artifacts:
    reports:
      dotenv: deploy.env
  dependencies: []
  rules:
    - if: $CI_COMMIT_TAG =~ /^v\d+./

review srv up:
  stage: srv
  variables:
    DEPLOY_CONFIG: $REVIEW_CONFIG
    DEPLOY_NETWORK: ${CI_PROJECT_NAME}-${CI_COMMIT_REF_SLUG}
    DEPLOY_NAME: ${CI_PROJECT_NAME}-${CI_COMMIT_REF_SLUG}
    DEPLOY_PORT: $REVIEW_PORT
  environment:
    name: review/${CI_COMMIT_REF_SLUG}
    url: $DEPLOY_SERVER:$DEPLOY_PORT/api/hs/version
    on_stop: stop_review
  script:
    - docker-compose -f $DEPLOY_CONFIG -p $DEPLOY_NAME down -v
    - *start_services
  rules:
    - if: $CI_COMMIT_TAG =~ /^review-/

create db:
  stage: db
  script:
    - *get_deploy_env
    - *ibcmd_create_ib
  dependencies: []
  allow_failure: true
  rules:
    - if: $CI_COMMIT_TAG =~ /^v\d+./ || $CI_COMMIT_TAG =~ /^review-/
      when: delayed
      start_in: 5 seconds

register ib:
  stage: db
  script:
    - *get_deploy_env
    - *rac_register_ib
  needs: ["create db"]
  allow_failure: true
  rules:
    - if: $CI_COMMIT_TAG =~ /^v\d+./ || $CI_COMMIT_TAG =~ /^review-/

dump:
  stage: dump
  script:
    - docker-compose -f $DEPLOY_CONFIG -p $DEPLOY_NAME stop ws
    - *ibcmd_dump_ib
  dependencies: []
  rules:
    - if: $CI_COMMIT_TAG =~ /^v\d+./

update:
  stage: update
  environment:
    name: production
  script:
    - *get_deploy_env
    - *update_ib
  artifacts:
    name: "log-${CI_COMMIT_SHORT_SHA}"
    paths:
      - /w/build/load.log
    expire_in: 7 day
    when: on_failure
  rules:
    - if: $CI_COMMIT_TAG =~ /^v\d+./ || $CI_COMMIT_TAG =~ /^review-/

init db:
  stage: init
  environment:
    name: production
  script:
    - if [[ $FLAG_NEW_INSTANCE == "false" ]]; then
        exit 0;
      fi
    - *init_ib
  cache:
    key: "init-${CI_COMMIT_SHORT_SHA}"
    paths:
      - tools/init-db.epf
    policy: pull
  rules:
    - if: $CI_COMMIT_TAG =~ /^v\d+./

review init db:
  stage: init
  variables:
    DEPLOY_CONFIG: $REVIEW_CONFIG
    DEPLOY_NETWORK: ${CI_PROJECT_NAME}-${CI_COMMIT_REF_SLUG}
    DEPLOY_NAME: ${CI_PROJECT_NAME}-${CI_COMMIT_REF_SLUG}
    DEPLOY_PORT: $REVIEW_PORT
  environment:
    name: review/${CI_COMMIT_REF_SLUG}
  script:
    - *init_ib
  cache:
    key: "init-${CI_COMMIT_SHORT_SHA}"
    paths:
      - tools/init-db.epf
    policy: pull
  dependencies: []
  rules:
    - if: $CI_COMMIT_TAG =~ /^review-/

ws:
  stage: ws
  script:
    - *get_deploy_env
    - docker-compose -f $DEPLOY_CONFIG -p $DEPLOY_NAME restart ws
  rules:
    - if: $CI_COMMIT_TAG =~ /^v\d+./ || $CI_COMMIT_TAG =~ /^review-/

stop_production:
  stage: .post
  variables:
    GIT_STRATEGY: none
  script:
    - docker-compose -f $DEPLOY_CONFIG -p $DEPLOY_NAME stop
  environment:
    name: production
    action: stop
  needs: ["srv up"]
  rules:
    - if: $CI_COMMIT_TAG =~ /^v\d+./
      when: manual

stop_review:
  stage: .post
  variables:
    GIT_STRATEGY: none
    DEPLOY_CONFIG: $REVIEW_CONFIG
    DEPLOY_NETWORK: ${CI_PROJECT_NAME}-${CI_COMMIT_REF_SLUG}
    DEPLOY_NAME: ${CI_PROJECT_NAME}-${CI_COMMIT_REF_SLUG}
    DEPLOY_PORT: $REVIEW_PORT
  script:
    - docker-compose -f $DEPLOY_CONFIG -p $DEPLOY_NAME down -v
  environment:
    name: review/${CI_COMMIT_REF_SLUG}
    action: stop
  needs: ["review srv up"]
  rules:
    - if: $CI_COMMIT_TAG =~ /^review-/
      when: manual

prepare:
  stage: test
  before_script:
    - wget https://github.com/allure-framework/allurectl/releases/latest/download/allurectl_linux_amd64 -O ./allurectl
    - chmod +x ./allurectl
  script:
    - mkdir .allure
    - ./allurectl job-run start
  artifacts:
    paths:
      - .allure
    expire_in: 1 day
  allow_failure: true
  tags:
    - udocker02
  rules:
    # - if: $CI_MERGE_REQUEST_IID
    - if: $CI_COMMIT_TAG =~ /^v\d+./ || $CI_COMMIT_TAG =~ /^review-/

run unit test:
  stage: test
  variables:
    ALLURE_JOB_RUN_CHILD: "true"
    YAXUNIT: "${CI_PROJECT_DIR}/tools/YAxUnit.cfe"
    ONEC_VERSION_CI: "8.3.27.1786"
  before_script:
    - wget https://github.com/allure-framework/allurectl/releases/latest/download/allurectl_linux_amd64 -O ./allurectl
    - chmod +x ./allurectl
    - YAXUNIT="${CI_PROJECT_DIR}/tools/YAxUnit.cfe"
    - curl -L -o "${YAXUNIT}" "https://github.com/bia-technologies/yaxunit/releases/download/25.04/YAxUnit-25.04.cfe"
    - chmod +x "${CI_PROJECT_DIR}/scripts/init-ib-unit-test.sh"
  needs:
    - job: prepare
  script:
    - docker run
      --rm
      --privileged
      -v ${CI_PROJECT_DIR}:/w
      ${CI_REGISTRY}/devops/onec-docker/edt:${ONEC_VERSION_CI}
      bash -c "1cedtcli -data /w/build/tmp -file /w/scripts/export-all.edtcli"
    - docker run
      --rm
      --privileged
      -v ${CI_PROJECT_DIR}:/w
      -v $DEPLOY_NETHASP:/opt/1cv8/current/conf/nethasp.ini
      -v $DEPLOY_ONEC_CONFIG:/opt/1cv8/current/conf/conf.cfg
      ${CI_REGISTRY}/devops/onec-docker/server:${ONEC_VERSION_CI}
      bash /w/scripts/init-ib-unit-test.sh
    - docker run
      --rm
      --privileged
      -p 5900:5900
      -v ${CI_PROJECT_DIR}:/w
      -v $DEPLOY_NETHASP:/opt/1cv8/current/conf/nethasp.ini
      -v $DEPLOY_ONEC_CONFIG:/opt/1cv8/current/conf/conf.cfg
      ${CI_REGISTRY}/devops/onec-docker/client-vnc:$ONEC_VERSION
      bash -c "/opt/1cv8/current/1cv8c ENTERPRISE
        /F \"/w/build/unit/ib\"
        /C\"RunUnitTests=/w/tools/yaxunit.json\"
        /DisableStartupMessages
        /DisableStartupDialogs
        /WA-"
    - |
      if [ -f "${CI_PROJECT_DIR}/build/unit/exit.log" ]; then
        EXIT_CODE=$(tr -d '\r\n' < "${CI_PROJECT_DIR}/build/unit/exit.log" | sed 's/^\xEF\xBB\xBF//')
        if [ "$EXIT_CODE" -eq 1 ]; then
          echo "Unit tests failed!"
          # exit 1
        else
          echo "Unit tests passed."
        fi
        ./allurectl upload ${ALLURE_RESULTS}
      else
        echo "exit.log not found!"
        # exit 1
      fi
  artifacts:
    paths:
      - ${ALLURE_RESULTS}
      - build/unit/*.log
    when: always
    expire_in: 7 day
  tags:
    - udocker02
  rules:
    # - if: $CI_MERGE_REQUEST_IID
    - if: $CI_COMMIT_TAG =~ /^v\d+./ || $CI_COMMIT_TAG =~ /^review-/

sonarqube on merge request:
  extends: .sonarqube
  script:
    - PROJECT_VERSION=$(grep '<version>' "$EDT_PROJECT_DIR/src/Configuration/Configuration.mdo" | cut -d'>' -f2 | cut -d'<' -f1)
    - !reference [.on_merge_request, script]
  rules:
    - if: $CI_MERGE_REQUEST_IID

sonarqube on tag:
  extends:
    - .sonarqube
    - .on_tag
  rules:
    - if: $CI_COMMIT_TAG =~ /^v\d+./ || $CI_COMMIT_TAG =~ /^review-/

pages:
  stage: pages
  tags:
    - docker
  image:
    name: ${CI_REGISTRY_IMAGE}/mkdocs:latest
    entrypoint: [""]
  needs:
    - job: build-image
      optional: true
  script:
    - export SITE_URL="$MKDOCS_GITLAB_SITE_URL"
    - export SOCIAL_LINK="$MKDOCS_GITLAB_SOCIAL_LINK"
    - export SOCIAL_ICON="fontawesome/brands/gitlab"
    - export REPO_NAME="$MKDOCS_GITLAB_REPO_NAME"
    - export REPO_URL="$MKDOCS_GITLAB_REPO_URL"
    - export EDIT_URI="$MKDOCS_GITLAB_EDIT_URI"
    - mkdocs build --verbose --strict --site-dir public
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == "master"
      changes:
        - docs/**/*
        - mkdocs.yml
    - if: $CI_COMMIT_TAG =~ /^v\d+./
