# Обязательные переменные окружения для docker-compose.yml
# Скопируйте этот файл в .env и заполните значения

# Учетная запись Docker Hub или путь к репозиторию в локальном хранилище
DOCKER_USERNAME=your_docker_username

# Версия платформы "1С:Предприятие 8"
ONEC_VERSION=8.3.17.1549

# Путь к файлу nethasp.ini для получения лицензий "1С:Предприятие 8" в контейнерах
NETHASP_PATH=/path/to/nethasp.ini

# Имя информационной базы на сервере "1С:Предприятие 8"
IB_NAME=transmitter

# Имя базы данных на сервере SQL
DB_NAME=transmitter

# Пользователь для строки подключения веб-сервисов к информационной базе
WS_USER=сайт

# Пароль для строки подключения веб-сервисов к информационной базе
WS_PASSWORD=your_web_service_password

# Дополнительная локализация API (ru - для русской версии, en - для английской)
WS_LOCALE=ru
